.Gallery {
	.searchBox {
		button {
			width: 150px;
			height: 30px;
			border: none;
			background-color: #555;
			color: white;
			margin-left: 50px;
			border-radius: 2px;
		}
		input {
			width: 50%;
			height: 30px;
			margin-left: 500px;
			border-radius: 7px;
			border: 1px solid #000;
		}
	}

	.btnSet {
		margin-left: 10rem;
		margin-top: -2.3rem;

		button {
			width: 100px;
			height: 30px;
			background-color: rgb(177, 146, 151);
			border: none;
			color: white;
			margin-right: 10px;
			cursor: pointer;
			border-radius: 2px;
		}
	}

	.picFrame {
		width: 80%;
		opacity: 1;
		text-align: center;
		margin: auto;
		margin-top: 3rem;

		&::after {
			content: '';
			display: block;
			clear: both;
		}

		article {
			width: 25%;
			padding: 10px;
			float: left;

			.inner {
				width: 100%;
				border-top: 2px solid #000;
				border-left: 6px solid #000;
				padding: 20px;
				// background: gary;
				box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);

				.pic {
					width: 100%;
					height: 100%;
				}
				h2 {
					font: normal 1rem/1.2 'arial';
					color: #555;
					margin-top: 10px;
					margin-bottom: 40px;
				}
				.profile {
					width: 100%;
					display: flex;
					align-items: center;
					gap: 10px;

					span {
						font-size: 0.8rem;
					}
				}
			}
		}
	}
}

.tablet {
	.Gallery {
		.searchBox {
			button {
				width: 100px;
				height: 30px;
				border: none;
				background-color: #555;
				color: white;
				margin-left: 10px;
				border-radius: 2px;
			}
			input {
				width: 200px;
				height: 30px;
				margin-top: -40px;
				margin-left: 20px;
				border-radius: 7px;
				border: 1px solid #000;
			}
		}

		.btnSet {
			button {
				width: 100px;
				height: 30px;
				margin-top: 3rem;
				background-color: rgb(177, 146, 151);
				border: none;
				color: white;
				margin-right: 10px;
				cursor: pointer;
				border-radius: 10px;
			}
		}

		.picFrame {
			width: 100%;
			height: 100%;
			opacity: 1;
		}
		article {
			width: 25%;
			padding: 10px;
			float: left;

			.inner {
				width: 100%;
				height: 50%;
				border: 1px solid rgb(189, 121, 148);
				// background: gary;
				box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);

				span {
					font-size: 0.8rem;
				}
			}
		}
	}
}

.mobile {
	.Gallery {
		.searchBox {
			button {
				width: 100px;
				height: 30px;
				border: none;
				background-color: #555;
				color: white;
				margin-left: 10px;
				border-radius: 2px;
			}
			input {
				width: 200px;
				height: 30px;
				margin-top: -40px;
				margin-left: 20px;
				border-radius: 7px;
				border: 1px solid #000;
			}
		}

		.btnSet {
			button {
				width: 100px;
				height: 30px;
				margin-top: 3rem;
				background-color: rgb(177, 146, 151);
				border: none;
				color: white;
				margin-right: 10px;
				cursor: pointer;
				border-radius: 10px;
			}
		}

		.picFrame {
			width: 100%;
			height: 100%;
			opacity: 1;
		}
		article {
			width: 25%;
			padding: 10px;
			float: left;

			.inner {
				width: 100%;
				height: 50%;
				border: 1px solid rgb(189, 121, 148);
				// background: gary;
				box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);

				span {
					font-size: 0.8rem;
				}
			}
		}
	}
}
