footer {
	padding: 2% 10vw;
	background: white;
	border-top: solid 2px black;

	.top {
		display: flex;
		justify-content: space-between;
		// flex-wrap: wrap;

		.footer1 {
			width: 65%;
			display: flex;
			justify-content: space-between;

			ul {
				li {
					color: #585858;
					margin-bottom: 10px;
					position: relative;
					&:hover {
						// scale: 1.1;
						cursor: pointer;
						font-weight: bolder;
					}
					h3 {
						color: #585858;
						margin-bottom: 15px;
					}
				}
			}
		}
	}
	.lower {
		display: flex;
		justify-content: space-between;
		margin-top: 40px;

		.sns {
			display: flex;
			width: 10%;
			justify-content: space-between;

			li * {
				&:hover {
					scale: 1.1;
				}
			}
		}
	}
}

.tablet {
	footer {
		padding: 2% 10vw;
		background: white;
		border-top: solid 2px black;

		.top {
			display: flex;
			justify-content: space-between;
			margin-left: -20rem;
			gap: 100px;

			.footer1 {
				width: 100%;
				display: flex;
				gap: 50px;
				justify-content: space-between;

				ul {
					li {
						color: #585858;
						margin-bottom: 10px;
						position: relative;
						&:hover {
							// scale: 1.1;
							cursor: pointer;
							font-weight: bolder;
						}
						h3 {
							color: #585858;
							margin-bottom: 15px;
						}
					}
				}
			}
		}
		.lower {
			display: flex;
			justify-content: space-between;
			margin-left: -150px;
			margin-top: 200px;

			.sns {
				display: flex;
				width: 10%;
				justify-content: space-between;

				li * {
					&:hover {
						scale: 1.1;
					}
				}
			}
		}
	}
}

.mobile {
	footer {
		padding: 2% 10vw;
		background: white;
		border-top: solid 2px black;

		.top {
			display: flex;
			width: 100%;
			height: 100%;
			justify-content: space-between;
			margin-left: -5px;
			gap: 10px;
			font-size: 5px;
			margin-top: 2rem;

			.footer1 {
				width: 100%;
				display: flex;
				justify-content: space-between;

				ul {
					li {
						color: #585858;
						margin-bottom: 10px;
						position: relative;
						&:hover {
							// scale: 1.1;
							cursor: pointer;
							font-weight: bolder;
						}
						h3 {
							color: #000000;
							margin-bottom: 15px;
							font-size: 5.3px;
							font-weight: bold;
						}
					}
				}
			}
		}
		.lower {
			display: flex;
			justify-content: space-between;
			margin-left: -150px;
			margin-top: 200px;

			.sns {
				display: flex;
				width: 10%;
				justify-content: space-between;

				li * {
					&:hover {
						scale: 1.1;
					}
				}
			}
		}
	}
}
